@model House<h2>@Model.Address</h2><p>@Model.City</p><p>@Model.State</p><h3>$@Model.Price</h3> <p>@Model.Description</p><form method="post">    <p>Would you like to buy this house now?</p>    <input value="Buy now!" type="submit" /></form>
